<h1>Add new course</h1>

<form action="/add" method="post">
	<div class="input-field">
		<input id="title" name="title" type="text" class="validate" required>
		<label for="title">Course Name</label>
		<span class="helper-text" data-error="Input name"></span>
	</div>

	<div class="input-field">
		<input id="price" name="price" type="number" class="validate" required min="1">
		<label for="price">Course Price</label>
		<span class="helper-text" data-error="Input price"></span>
	</div>

	<div class="input-field">
		<input id="img" name="img" type="text" class="validate" required>
		<label for="img">Image URL</label>
		<span class="helper-text" data-error="Input image URL"></span>
	</div>

	<button type="submit" class="btn btn-primery">Add course</button>
</form>