<h1>Card</h1>

<div id="card">
	{{#if courses.length}}
	<table>
		<thead>
			<tr>
				<th>Label</th>
				<th>Count</th>
				<th>Options</th>
			</tr>
		</thead>
		<tbody>
			
			{{#each courses}}
			<tr>
				<td>{{title}}</td>
				<td>{{count}}</td>
				<td>
					<button class="btn btn-small js-remove" data-id="{{id}}">Delete</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<p><strong>Price:</strong> <span class="price">{{price}}</span></p>
	{{else}}
	<p>Card is empty</p>
	{{/if}}
</div>