<h1>Edit course {{course.title}}</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course.title}}">
        <label for="title">New Course Name</label>
        <span class="helper-text" data-error="Input name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required value="{{course.price}}" min="1">
        <label for="price">New Course Price</label>
        <span class="helper-text" data-error="Input price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course.img}}">
        <label for="img">New Image URL</label>
        <span class="helper-text" data-error="Input image URL"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button type="submit" class="btn btn-primery">Edit course</button>
</form>